<h1 [innerText]="title+event.eventName"></h1>

<table class="table table-hover table-striped">
  <tbody>
    <tr>
      <th>Event eventCode</th>
      <td><span [innerText] = "event.eventCode | lowercase"></span></td>
    </tr>
    <tr>
      <th>Event eventName</th>
      <td><span [innerText] = "event.eventName | uppercase"></span></td>
    </tr>
    <tr>
      <th>Event description</th>
      <td><span [innerText] = "event.description "></span></td>
    </tr>
    <tr>
      <th>Event startDate</th>
      <td><span [innerText] = "event.startDate"></span></td>
    </tr>
    <tr>
      <th>Event seatsFilled</th>
      <td><div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" 
        role="progressbar" [style.width]="event.seatsFilled+'%'" 
        ></div>
      </div></td>
    </tr>

  </tbody>
</table>